@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
    --font-roboto: "Roboto", sans-serrif;
    --font-inter: "Inter", sans-serrif;
}

@layer components{
    .input-login,
    .input-signup{
        @apply border text-2xl rounded-xl px-6 py-3 focus:outline-slate-400
    }
    .form-container{
        @apply flex flex-col items-center justify-center gap-5 bg-zinc-200 rounded-lg shadow-xl py-10; 
    }
}


@layer components{
    .signup-btn,
    .login-btn{
        @apply button-default-color text-white px-5 py-2 rounded-3xl font-semibold cursor-pointer hover:bg-slate-600
    }
    .hover-text{
        @apply inline-block transition-transform duration-300 group-hover:-translate-y-1
    }
    
}

@layer components{
    .icon-btn{
        @apply cursor-pointer; 
        &:hover{
            @apply opacity-50
        }
    }
}

.textarea-style{
    @apply bg-gray-200 w-lg px-3
}

.comment-div{
    @apply max-w-full flex justify-between
}

@utility text-default-color{
    color: var(--color-slate-800);
    font-weight: var(--font-weight-semibold);
    font-family: var(--font-inter)
}

@utility button-default-color{
    background: var(--color-slate-800);
}

@utility text-content-color{
    color: var(--color-gray-600)
}


